# Ignore Python cache and virtual environment files
__pycache__/
*.py[cod]
*.pyo
env/
venv/

# Ignore environment variables and private keys
.env
vandy-cv-firebase-admin-private-key.json
vandy-cv-openai-key.json

# Ignore IDE-specific files (optional)
.vscode/
.idea/